@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-lg md:text-xl;
  }
}

@layer components {
  .detail {
    @apply text-gray-500 dark:text-gray-300;
  }

  .link-emphasis {
    @apply underline underline-offset-8 decoration-dotted;
  }
}
